/*
Blue #006886
Pink #ff80a9
*/
:root {
    --bs-primary: #006886;
    --bs-secondary: #ff80a9;
}

body {
    color: var(--bs-primary);
}

a, .nav-link {
    color: var(--bs-primary);
    font-weight: bold;
}

.nav-link {
    font-size: large;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--bs-primary);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-primary);
    --bs-btn-border-color: var(--bs-primary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #0094bd;
    --bs-btn-hover-border-color: #0094bd;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-primary);
    --bs-btn-active-border-color: var(--bs-primary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ddd;
    --bs-btn-disabled-border-color: #ddd;
}

.btn-secondary {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #fa9ebb;
    --bs-btn-hover-border-color: #fa9ebb;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--bs-secondary);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #ddd;
    --bs-btn-disabled-border-color: #ddd;
}